<?xml version="1.0" encoding="UTF-8" ?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
          http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="3.1">

  <!-- 配置工程的名称 -->
  <display-name>书城</display-name>

  <!--实现首页请求的servlet-->
  <servlet>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>com.bookstore.web.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/client/book</url-pattern>
  </servlet-mapping>

  <!--实现用户模块的servlet-->
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.bookstore.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>

  <!--生成验证码的servlet-->
  <servlet>
    <servlet-name>KaptchaServlet</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KaptchaServlet</servlet-name>
    <url-pattern>/verification_code.jpg</url-pattern>
  </servlet-mapping>

  <!--实现购物车模块的servlet-->
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.bookstore.web.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>

  <!--实现订单模块的servlet-->
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.bookstore.web.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>

  <!--实现管理员模块的servlet-->
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.bookstore.web.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>

  <!--实现管理员的新增图书功能，因为要上传图片，所有不可以继承BaseServlet-->
  <servlet>
    <servlet-name>AdminAddBookServlet</servlet-name>
    <servlet-class>com.bookstore.web.AdminAddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddBookServlet</servlet-name>
    <url-pattern>/manager/addBook</url-pattern>
  </servlet-mapping>

  <!--实现对于后台页面进行权限管理的过滤器-->
  <filter>
    <filter-name>ManagerFilter</filter-name>
    <filter-class>com.bookstore.filter.MangerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManagerFilter</filter-name>
    <url-pattern>/pages/manager/*</url-pattern>
  </filter-mapping>

  <!--实现web层的事务管理-->
  <filter>
    <filter-name>TransactionFilter</filter-name>
    <filter-class>com.bookstore.filter.TransactionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TransactionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--由tomcat来统一管理错误页面-->
  <error-page>
    <error-code>404</error-code>
    <location>/pages/error/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/pages/error/error500.jsp</location>
  </error-page>

</web-app>
